@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');


body {
	background-color: #141414;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.s-container {
	padding: 0 60px;
	max-width: 100vw;
}

