@import '../base/_base.scss';

.app {
	margin-top: 100px;

	.welcome-msg {

		font-size: 3.5rem;
		text-align: center;
	}

	.app-wrap {
		.actor-info {
			
			.actor-meta {
				span {
					font-size: 0.5em;
				    margin-left: 40px;
				}
			}

			.known-for {
				display: flex;
			    justify-content: space-between;
			    overflow-x: scroll;
			    width: 900px;
			    
				.poster {
					height: 250px;
				}
			}
		}
	}

	.actor-poster {
		height: 300px;
		margin: 0 30px 30px 0;
	}

	.credits-container {
		.credits-wrap {
		       display: flex;
			    justify-content: space-between;
			    width: 90%;
			    flex-direction: row;
			    /* flex-flow: wrap; */
			    overflow-y: scroll;
			    align-items: baseline;
		}

		.about-credit {
			margin-top: 50px;

			.about-credit-wrap {
				.credit-about {
					display: inline-block;
				}

				.type-badge {
					/*background-color: $highlight-color; */
					border: 1px solid $highlight-color;
					border-radius: 5px;
					padding: 15px 10px;
					margin-left: 20px;
				}
			}

			.credit-role {
				h3, h4 {
					display: inline-block;
				}

				.episode-count {
					margin-left: 20px;
					color: $highlight-color;
				}
			}
		}
	}
}